#title{

    text-align: center;
    background-color: aqua;
    border: 1px solid gray;
}

img{

    width: 20vw;
    height: 20vh;
    z-index: 1;
}

div{

    width: 20vw;
    height: 20vh;
    background-color:aqua;
    border: 1px solid black;
    z-index: 0;
}

#gameGrid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh;
    grid-gap: 2px;
    border: 1px solid gray;
    width: 50%;
    margin: auto;
}

#main{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap:wrap;
}

#results{

    width: 50%;
    margin: auto;
}